<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>07-slot</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{message}}
        <!-- <todo-item v-for="(item,index) in list" :key="index" :title="item.title" :del="item.del"></todo-item> -->
        <todo-list>
            <template v-slot>
                <todo-item v-for="(item,index) in list" :key="index" :title="item.title" :del="item.del">

                    <template v-slot:pre-icon="{value}">
                        <span>前置图标2{{value}}</span>
                    </template>
                    <template v-slot:next-icon>
                        <span>后置图标2</span>
                    </template>
                    <!-- <span slot="pre-icon">前置图标</span>
                <span slot="next-icon">后置图标</span> -->
                </todo-item>

            </template>
        </todo-list>
    </div>
    <script>
        Vue.component("todo-item", {
            props: {
                title: String,
                del: {
                    type: Boolean,
                    default: false,
                },
            },
            data:function (){
                return {
                    value:Math.random()
                }
            },
            template: `
            <li>
                <slot name="pre-icon" :value="value"></slot>
                <span v-if="del">{{title}}</span>
                <span v-else style="text-decoration: line-through;">{{title}}</span>
                <slot name=" "></slot>
            </li>`,
            methods: {

            }
        })
        Vue.component("todo-list", {
            props: {},
            template: `
            <ul>
                <slot></slot>
            </ul>`,
            data: function () {
                return {
                }
            },
            methods: {

            }
        })


        var vm = new Vue({
            el: '#app',
            data: {
                message: 'hello world',
                item: {
                    title: '课程一',
                    del: false,
                },
                list: [
                    {
                        title: '课程1',
                        del: false,
                    }, {
                        title: '课程2',
                        del: false,
                    }
                ]
            }
        })
    </script>
</body>

</html>